button,
.button,
input[type="submit"]{
  @extend p;

  width: auto;
  max-width: 250px;
  height: 40px;
  padding: 0 50px;
  display: block;

  text-align: center;
  text-decoration: none;
  line-height: 42px;
  border: none;
  cursor: pointer;
  color: $white;
  text-transform: lowercase;
  background-color: $black;

  &:hover,
  &:focus{
    // background-color: $grey;
    text-decoration: none;
  }

  &.button-sec{
    @include transition( .2s );

    color: $black;
    border: thin solid $black;
    background-color: transparent;

    &:hover,
    &:focus{
      border: thin solid $grey;
      background-color: $grey;
    }
  }
}