.search-form{
  width: 250px;
  height: 35px;
  display: inline-block;

  .search{
    width: 100%;
    padding-left: .5em;
    cursor: text;

    &::-webkit-input-placeholder{
      color: $grey-dark;
    }

    &:focus{
      &::-webkit-input-placeholder{
        color: $grey-dark;
      }
    }
  }
}