div.single-post{
  width: 100%;
  padding: 40px;

  .post-header,
  article{
    max-width: 700px;
    margin: 0 auto;
  }

  .post-header{
    h2{
      margin-bottom: 25px;
    }

    p{
      margin-bottom: 40px;
    }

    p a{
      padding-left: 40px;
      text-decoration: none;

      &:hover,
      &:focus{
        text-decoration: underline;
      }
    }
  }

  section.slider{
    padding-top: 0;
  }
}

@media #{$small-only}{
  div.single-post{
    padding: 40px 20px;
  }
}