.posts{
  padding: 80px 0;

  li{
    margin-bottom: 80px !important;

    text-align: center;

    img{
      width: 100%;
    }

    div{
      padding: 20px;

      background-color: $white;

      p, h2{
        margin-bottom: 20px;
      }

      .button{
        margin: 20px auto;
      }
    }
  }
}

// Trick to remove white-space
.posts li{
  font-size: 0;

  div{
    font-size: 16px;
  }
}