/* Arrows */
.slider-controls{
  @include transform( translate(-50%, -50%) );

  top: 50%;
  left: 50%;
  position: absolute;

  width: 100%;

  .link-arrow{
    top: 0;
    position: absolute;

    width: 40px;
    height: 100%;
    display: block;
    cursor: pointer;
    margin-left: 0;
    margin-right: 0;

    img{
      top: 50%;

      position: absolute;
      cursor: pointer;
    }

    &.link-arrow-left{
      left: 0;
    }

    &.link-arrow-right{
      right: 0;
    }

    &:hover,
    &:focus{
      margin-left: 0;
      margin-right: 0;
    }
  }
}

@media #{$medium-down}{
  .slider-controls{
    display: none;
  }
}