body.woocommerce-account{
  main{
    padding-top: 120px;
  }

  .woocommerce-message{
    margin-bottom: 0;
  }

  .back{
    margin-bottom: -40px;
  }
}

.account-content{
  max-width: 600px;
  padding: 40px;
  margin-top: 40px;

  background-color: $white;

  p{
    margin-bottom: 20px;
  }

  h2, h3{
    margin-bottom: 10px;
  }

  .button{
    margin: 0;
  }
}

.account-content form{
  p{
    margin-bottom: 10px;
  }

  fieldset{
    padding: 60px 0 40px;
    border: none;
  }
}

.account-login{
  .col-1{
    margin-bottom: 80px;
  }
}