.filter{
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 0 40px;
  margin-bottom: 40px;

  > *{
    float: left;
    display: inline-block;
    margin-right: 80px;
  }

  .search-form{
    width: auto;
    float: right;
    margin-right: 0;

    .search{
      width: auto;
      float: left;
    }

    button{
      float: left;
      padding: 0 15px;

      &:hover,
      &:focus{
        background-color: transparent;
      }
    }
  }
}