.filter > ul{
  display: inline;

  > li{
    height: 80px;
    display: inline-block;

    line-height: 80px;
    cursor: pointer;

    &:first-child{
      margin-left: -25px;
    }

    &:hover{
      background-color: $grey;
    }

    &:hover ul{
      @include show( 0s );
    }
  }
}

.filter{
  width: 100%;
  height: 80px;
  padding: 0 80px;
  z-index: $zIndex-filterOptions;

  > a,
  > p,
  > div{
    float: left;
    display: inline-block;
    line-height: 80px;
  }
}

.filter{
  .filter-current{
    padding: 0 25px;

    text-decoration: none;
  }

  .filter-options{
    @include hide( 0s );

    left: 0;
    position: absolute;
    z-index: $zIndex-filterOptions;

    width: auto;
    height: auto;
    padding: 25px;
    padding-right: 100px;

    line-height: normal;
    white-space: nowrap;
    background-color: rgba( $grey, .98 );

    > li:first-child{
      margin-bottom: 1em;
    }

    > li.current > a{
      text-decoration: underline;
    }
  }
}

#select-category{
  > li{
    margin-bottom: 1em;
  }

  > li:last-child{
    margin-bottom: 0;
  }
}

.overlay{
  top: 0;
  left: 0;
  position: fixed;
  z-index: $zIndex-overlay;

  width: 100%;
  height: 100%;
}

@media #{$medium-down}{
  .filter{
    // Remove some elements
    a[title="gender-current"]{
      display: none;
    }

    // Brand
    a[title="brand-current"]{
      margin-left: -40px;
    }

    // Search field
    .search-form{
      input[type="search"]{
        display: none;
      }

      button{
        display: none;
        margin-right: -15px;
      }

      .search-trigger{
        height: 40px;
        display: block;

        line-height: 42px;
      }
    }

    .search-form.is-active{
      top: 0;
      left: 0;
      position: absolute;

      width: 100%;
      padding: 0 80px;

      background-color: $grey;

      input[type="search"]{
        width: 100%;
        display: block;
      }

      button{
        display: block;
      }

      .search-trigger{
        display: none;
      }
    }
  }
}

// // Hide filter elements on custom queries
// @media screen and (max-width: 1150px){
//   .filter{
//     .filter-current[title="gender-current"],
//     #select-gender{
//       display: none;
//     }
//   }
// }
//
// @media screen and (max-width: 1000px){
//   .filter{
//     .filter-current[title="tag-current"],
//     #select-tag{
//       display: none;
//     }
//   }
// }
//
// @media screen and (max-width: 885px){
//   .filter{
//     .filter-current[title="season-current"],
//     #select-season{
//       display: none;
//     }
//   }
// }
//
// @media #{$small-only}{
//   .filter{
//     .filter-current[title="category-current"],
//     #select-category{
//       display: none;
//     }
//   }
//
//   .filter{
//     padding: 0 40px;
//
//     .filter-current:first-child{
//       margin-left: -20px;
//     }
//
//     a[title="brand-current"]{
//       padding: 0 20px;
//       margin-left: -20px;
//     }
//
//     .search-form.is-active{
//       padding: 0 40px;
//     }
//
//     .filter-options{
//       height: auto;
//       padding: 40px;
//     }
//   }
// }