.filter{
  width: 100%;
  height: 80px;
  padding: 0 80px;
  z-index: $zIndex-filterOptions;

  > a, > p, > div{
    float: left;
    display: inline-block;
    line-height: 80px;
  }

  .search-form{
    @include flex;
    @include align-items( center );

    width: auto;
    height: 80px;
    float: right;

    .search{
      width: auto;
      float: left;
    }

    button{
      @include avenir;

      float: left;
      padding: 0 15px;

      color: $black;
      background-color: transparent;

      &:hover,
      &:focus{
        background-color: transparent;
      }
    }

    .search-trigger{
      display: none;
    }
  }
}

.filter{
  .filter-current{
    padding: 0 25px;

    text-decoration: none;

    &:first-child{
      margin-left: -25px;
    }

    &.is-active{
      background-color: $grey;
    }
  }

  .filter-options{
    @include hide( 0s );
    @include flex;
    @include flex-flow( column wrap );
    @include align-content( flex-start );

    top: 80px;
    left: 0;
    position: absolute;
    z-index: $zIndex-filterOptions;

    width: 100%;
    height: 40vh;
    min-height: 300px;
    padding: 80px;
    padding-bottom: 40px;

    background-color: rgba( $grey, .98 );

    &.is-active{
      @include show( 0s );
    }

    li{
      margin-right: 80px;
      margin-bottom: 10px;
    }

    > li:first-child{
      margin-bottom: 40px;
    }

    li.current > a{
      text-decoration: underline;
    }
  }
}

#select-category{
  display: inline;

  > li{
    display: inline-block;
    vertical-align: top;

    margin-right: 80px;

    > a{
      display: inline-block;
      margin-bottom: 10px;
    }

    .subcategories{
      li{
        margin-right: 0;
      }
    }
  }
}

.overlay{
  top: 0;
  left: 0;
  position: fixed;
  z-index: $zIndex-overlay;

  width: 100%;
  height: 100%;
}

@media #{$medium-down}{
  .filter{
    // Remove some elements
    a[title="gender-current"]{
      display: none;
    }

    // Brand
    a[title="brand-current"]{
      margin-left: -40px;
    }

    // Search field
    .search-form{
      input[type="search"]{
        display: none;
      }

      button{
        display: none;
        margin-right: -15px;
      }

      .search-trigger{
        height: 40px;
        display: block;

        line-height: 42px;
      }
    }

    .search-form.is-active{
      top: 0;
      left: 0;
      position: absolute;

      width: 100%;
      padding: 0 80px;

      background-color: $grey;

      input[type="search"]{
        width: 100%;
        display: block;
      }

      button{
        display: block;
      }

      .search-trigger{
        display: none;
      }
    }
  }
}

// // Hide filter elements on custom queries
// @media screen and (max-width: 1150px){
//   .filter{
//     .filter-current[title="gender-current"],
//     #select-gender{
//       display: none;
//     }
//   }
// }
//
// @media screen and (max-width: 1000px){
//   .filter{
//     .filter-current[title="tag-current"],
//     #select-tag{
//       display: none;
//     }
//   }
// }
//
// @media screen and (max-width: 885px){
//   .filter{
//     .filter-current[title="season-current"],
//     #select-season{
//       display: none;
//     }
//   }
// }
//
// @media #{$small-only}{
//   .filter{
//     .filter-current[title="category-current"],
//     #select-category{
//       display: none;
//     }
//   }
//
//   .filter{
//     padding: 0 40px;
//
//     .filter-current:first-child{
//       margin-left: -20px;
//     }
//
//     a[title="brand-current"]{
//       padding: 0 20px;
//       margin-left: -20px;
//     }
//
//     .search-form.is-active{
//       padding: 0 40px;
//     }
//
//     .filter-options{
//       height: auto;
//       padding: 40px;
//     }
//   }
// }