.products .product{
  > a.has-content{
    .thumb-content{
      padding: 20px;
    }

    .overlay-thumb:after{
      border: none;
    }
  }

  .button{
    @include hide( .3s );

    right: 40px;
    position: absolute;
  }

  &:hover{
    .button{
      @include show( .3s );
    }

    a.has-content .overlay-thumb{
      @include show( .3s );
    }
  }
}