.products .product{
  > div{
    a.has-content{
      .thumb-content{
        padding: 20px;
      }

      .overlay-thumb{
        height: 100%;
      }

      .overlay-thumb:after{
        border: none;
      }
    }

    a.button{
      @include hide( .3s );

      right: 0px;
      position: absolute;
    }

    &:hover{
      .button{
        @include show( .3s );
      }

      a.has-content .overlay-thumb{
        @include show( .3s );
      }
    }
  }
}

#more-posts{
  margin: auto;

  .loader{
    top: 0;
    right: 10px;
    bottom: 0;
    position: absolute;

    width: 20px;
    height: 20px;
    margin: auto;
    display: none;

    border-radius: 20px;
    border: 3px solid $white;

    &:after{
      content: '';
      position: absolute;
      top: -4px;
      right: -4px;
      bottom: -4px;
      left: -4px;
      border-radius: 20px;
      border: 5px solid transparent;
      border-top-color: $black;
      -webkit-animation: spin 1s linear infinite;
      animation: spin 1s linear infinite;
    }
  }

  &.is-loading{
    .loader{
      display: inline-block;
    }
  }
}

#no-more-products{
  top: auto !important;
  bottom: 0;
  left: 0 !important;
  right: 0 !important;

  margin: auto;
  margin-bottom: 30px;

  text-align: center;
}

@-webkit-keyframes spin {
  	0%{ -webkit-transform: rotate(0deg); tranform: rotate(0deg);}
	100%{ -webkit-transform: rotate(360deg); tranform: rotate(360deg);}
}