.filter{
  .search-form{
    @include flex;
    @include align-items( center );

    width: auto;
    height: 80px;
    float: right;

    .search{
      width: auto;
      float: left;
    }

    button{
      @include avenir;

      float: left;
      padding: 0 15px;

      color: $black;
      background-color: transparent;

      &:hover,
      &:focus{
        background-color: transparent;
      }
    }

    .search-trigger{
      display: none;
    }
  }
}