.woocommerce-message,
.woocommerce-error{
  max-width: 800px;
  min-height: 80px;
  padding: 40px;
  margin: auto;
  margin-bottom: 40px !important;
  margin-top: 40px !important;

  background: $white;
}

.woocommerce-error{
  border-left: 3px solid $red;
}

body.archive{
  .woocommerce-info{
    margin: 80px 0;

    text-align: center;
  }
}