.is-fullwidth{
  width: calc(100% + #{$side-margin});
  margin-left: -$side-margin / 2;
}

@media #{$small-only}{
  .is-fullwidth{
    width: calc(100% + #{$side-margin-small});
    margin-left: -$side-margin-small / 2;
  }
}