.is-fullwidth{
  max-width: none !important;
  width: calc(100% + #{$side-margin}) !important;
  margin-left: -$side-margin / 2 !important;
}

@media #{$small-only}{
  .is-fullwidth{
    max-width: none !important;
    width: calc(100% + #{$side-margin-small}) !important;
    margin-left: -$side-margin-small / 2 !important;
  }
}