section.hero{
  position: relative;

  width: 100%;
  height: 100%;

  .hero-banner{
    position: fixed;

    width: 100%;

    div{
      width: 100%;
      height: 100%;

      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  .section-body{
    @include flex;
    @include justify-content( center );

    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;

    width: 100%;
    height: 100%;
    max-width: 1300px;
    margin: auto;
    padding: 0 50px;

    img{
      width: 100%;
      max-width: 600px;
    }
  }
}

// Remove fixed positioning on mobile devices
body.is-mobile{
  section.hero .hero-banner{
    position: relative;
  }
}

@media #{$medium-down}{
  section.hero,
  section.hero .hero-banner,
  section.hero .hero-banner div{
    height: 0 !important;
    padding-bottom: 100% !important;
  }

  section.hero{
    .section-body{
      display: none;
    }
  }
}