section.quote{
  padding-top: $section-spacing * 2;
  padding-bottom: $section-spacing * 2;
  margin-bottom: 40px;

  .section-body{
    max-width: 800px;

    text-align: center;

    h1{
      margin-bottom: 80px;
    }
  }
}