section.quote{
  padding-top: $section-spacing * 2;
  padding-bottom: $section-spacing * 2;

  .section-body{
    max-width: 800px;

    text-align: center;

    h2{
      margin-bottom: 80px;
    }
  }
}

@media #{$small-only}{
  section.quote{
    padding-top: $section-spacing;
    padding-bottom: $section-spacing;
  }
}