@import url("//hello.myfonts.net/count/300b50");

@font-face {font-family: 'AvenirNextLTPro-Light';src: url('../webfonts/300B50_0_0.eot');src: url('../webfonts/300B50_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/300B50_0_0.woff2') format('woff2'),url('../webfonts/300B50_0_0.woff') format('woff'),url('../webfonts/300B50_0_0.ttf') format('truetype');}

@font-face {font-family: 'AvenirNextLTPro-Bold';src: url('../webfonts/300B50_1_0.eot');src: url('../webfonts/300B50_1_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/300B50_1_0.woff2') format('woff2'),url('../webfonts/300B50_1_0.woff') format('woff'),url('../webfonts/300B50_1_0.ttf') format('truetype');}

@mixin avenir{
  font-family: 'AvenirNextLTPro-Light', 'sans-serif';
  font-style: normal;
  font-weight: normal;

  &.is-bold,
  strong{
    font-family: 'AvenirNextLTPro-Bold', 'sans-serif';
    font-weight: 100;
  }
}

@mixin chronicle-display{
  font-family: "Chronicle Display A", "Chronicle Display B";
  font-style: normal;
  font-weight: 400;

  &.is-bold{
    font-weight: 700;
  }

  &.is-italic{
    font-style: italic;
  }
}

@mixin chronicle{
  font-family: "Chronicle Text G1 A", "Chronicle Text G1 B";
  font-style: normal;
  font-weight: 400;

  &.is-bold{
    font-weight: 700;
  }

  &.is-italic{
    font-style: italic;
  }
}