@mixin avenir{
  font-family: 'Avenir Next Pro', 'sans-serif';
  font-style: normal;
}

@mixin avenir-bold{
  font-family: 'Avenir Next Pro Bold', 'sans-serif';
  font-style: normal;
}

@mixin avenir-medium{
  font-family: 'Avenir Next Pro Medium', 'sans-serif';
  font-style: normal;
}

@mixin avenir-light{
  font-family: 'Avenir Next Pro UltraLight', 'sans-serif';
  font-style: normal;
}