@import url("//hello.myfonts.net/count/2f7f3e");


@font-face {font-family: 'AvenirNextLTPro-Light';src: url('../webfonts/2F7F3E_0_0.eot');src: url('../webfonts/2F7F3E_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/2F7F3E_0_0.woff2') format('woff2'),url('../webfonts/2F7F3E_0_0.woff') format('woff'),url('../webfonts/2F7F3E_0_0.ttf') format('truetype');}

@mixin avenir{
  font-family: 'AvenirNextLTPro-Light', 'sans-serif';
  font-style: normal;
  font-weight: normal;
}

@mixin chronicle-display{
  font-family: "Chronicle Display A", "Chronicle Display B";
  font-style: normal;
  font-weight: 400;
}

@mixin chronicle{
  font-family: "Chronicle Text G1 A", "Chronicle Text G1 B";
  font-style: normal;
  font-weight: 400;

  &.is-bold{
    font-weight: 700;
  }
}