%base{
  @include avenir;
  font-size: 16px;
}

h1{
  @extend %base;

  font-size: 2em; //24px
}

h2{
  @extend h1;

  font-size: 1.125em; //18px
}

p{
  @extend %base;
}

a{
  @extend %base;

  color: black;
  text-decoration: underline;
  cursor: pointer;

  h1,
  h2,
  h3,
  p{
    text-decoration: none;
  }
}