%base{
  @include avenir;

  letter-spacing: 0.5px;
  font-size: 16px;
}

h1{
  @extend %base;

  font-size: 1.563em; //25px
}

h2{
  @extend h1;
}

h3{
  @extend h1;

  font-size: 1.313em; //21px
}

p{
  @extend %base;

  font-size: 0.938em; //15px
  line-height: 1.5;

  a{
    font-size: 0.938em; //15px
    text-decoration: underline;
  }
}

a{
  @extend %base;

  font-size: 0.938em; //15px;
  line-height: 1.5;
  color: $black;
  cursor: pointer;
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
}

span,
label{
  @extend p;
}