.link-arrow{
  @include transition( .2s );

  img{
    width: 30px;
    margin-top: -1px;
    margin-left: 10px;
  }

  &:hover,
  &:focus{
    text-decoration: none;
    margin-right: -10px;
  }
}

.link-arrow-left{
  img{
    @include transform( rotate(180deg) );

    margin-left: 0;
    margin-right: 10px;
  }

  &:hover,
  &:focus{
    text-decoration: none;
    margin-right: 10px;
    margin-left: -10px;
  }
}